@font-face{
  font-family: 'Gothic';
  src: url(../../assets/fonts/GOTHIC.TTF);
}
@font-face{
  font-family: 'Gothic-itallic';
  src: url(../../assets/fonts/GOTHICI.TTF);
}
@font-face{
  font-family: 'Gothic-bold';
  src: url(../../assets/fonts/GOTHICB.TTF);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #FCFC30;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #465EFF;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid #FCFC30;  /* creates padding around scroll thumb */
}
body {
  font-family: 'Gothic',Arial, Helvetica, sans-serif;
  background-color: black;
}
h1 {
  font-weight: 100;
}
p, a, ul, span, button {
  font-family: Arial, Helvetica, sans-serif;
}
section.bg-missaoseg {
  background-image: url(../../assets/images/missaoseg-banner.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 80vh;
  min-width: 100%;
}



/* Classes Bootstrap modificadas*/
.bg-dark {
  background-color: #465EFF !important;
}
.accordion {
  --bs-accordion-active-color: #333;
  --bs-accordion-active-bg: #eaeaea;
  --bs-accordion-btn-focus-border-color: #333;
  --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(51, 51, 51, 0.25);
  --bs-accordion-border-radius: var(--bs-border-radius-sm);
}

.btn-warning {
  --bs-btn-bg: #FCFC30;
  --bs-btn-border-color: #FCFC30;
  --bs-btn-hover-bg: #d2d228 !important;
  --bs-btn-hover-border-color: #d2d228 !important;
  --bs-btn-active-bg: #FCFC30;
  --bs-btn-active-border-color: #FCFC30;
  --bs-btn-disabled-bg: #d2d228;
  --bs-btn-disabled-border-color: #d2d228;
    background-color: #FCFC30;
    border-color: #FCFC30;
    border-radius: 25px;
    color: #465EFF;
    font-weight: 600;
}
.btn {
  font-family: Arial, Helvetica, sans-serif;
  padding: 1vh 20px;
  box-shadow: 0 4px 6px #00000075;
}
.btn-danger {
  background: none;
  border: none;
  --bs-btn-bg: none ;
  --bs-btn-hover-color: #333 ;
  --bs-btn-hover-bg: none;
  --bs-btn-border-color: none;
  --bs-btn-hover-border-color: none;
  --bs-btn-active-bg: #fff;
  --bs-btn-active-border-color: #fff;
  font-family: 'Gothic',Arial, Helvetica, sans-serif;
  text-transform: uppercase;

}
.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
  background: none;
}
header .btn:hover {
  background: none;
}
.dropdown-menu {
  border-radius: 0;
  background-color: rgb(70, 94, 255, 0.8);
  --bs-dropdown-link-color: white;
  --bs-dropdown-font-size: 18px
}
.dropdown-menu[data-bs-popper] {
  left: -20vh;
}


.login-btn {
  position: relative;
  left: 30rem;
  text-transform: uppercase;
  font-size: 15px;
}
.logo-missaoseg-banner {
  margin-top: 50vh;
}
.white {
  color: white;
}
.blue {
  color: #465EFF
}
.yellow {
  color: #FCFC30;
}
.eclipse-bg {
  background-color: #FCFC30;
  border-radius: 15px;
  min-width: 221px;
}

.bg-start-space {
  background-color: #000;
  margin-bottom: -10vh;
}
.bg-space-gift {
  background-image: url(../../assets/images/space-gifts.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  padding-top: 10vh;
  min-height: 50vh;
}

.fs-small {
  font-size: 12px;
}
.bg-blue {
  background-color: #465EFF;
}
.p-bs {
  padding: 0 15vh;
}
.p-bs-faq {
  padding: 0 10vh;
}
.bg-pf {
  background-image: url(../../assets/images/pf-bg.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  padding: 10vh;
}
.fst-italic {
  font-family: 'Gothic-itallic', Arial, Helvetica, sans-serif;
}
.bold {
  font-family: 'Gothic-bold', Arial, Helvetica, sans-serif;
}
.modal-content {
  background-color: #eaeaea;
  border-radius: var(--bs-modal-inner-border-radius) !;
}
.btn-primary {
  background-color: #333;
  border-color: #333;
  --bs-btn-hover-bg: #212121;
  --bs-btn-hover-border-color: #212121;

}
.gray {
  color: #333;
}



/*Página Usuário logado*/
.bg-body-tertiary {
  background-color:#1A1817 !important;
}
header img {
  max-width: 300px;
}
.navbar-text {
  color: #fff;
}
.bg-aside {
  background-color: #465EFF;
  padding: 0 20vh ;
}
aside a {
  font-family: 'Gothic',Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 18px;
  text-decoration: none;
}
aside a:hover {
  color: #333;
}
aside .btn {
  box-shadow: none;
  font-size: 18px;
}
.bg-light-gray {
  background-color: #eaeaea;
}
.desafios-user{
  padding: 0 25vh;
}
.bg-estrelas-user {
  background-color: #F97A70;
  border-radius: 22px;
  padding: 2vh 3vh;
  color: white;
}
#estrelas-user {
  padding: 0 20vh;
}
.titulo-banner-usuario {
  font-family: 'Gothic-bold';
  position: relative;
  left: 0%;
  margin-bottom: 9%;
  color: #FCFC30;
}
.titulo-banner-usuario h1{
  font-size: 44px;
}
.margin-user {
  padding: 0 20vh;
}
.progress, .progress-stacked {
  border-radius: 0px;
  --bs-progress-bar-bg: #1DD851;
}
.progress-bar {
  background-color: #1DD851;
}
.bg-premios-user {
  background-color: #00EBD0;
  border-radius: 22px;
  padding: 2vh 3vh;
  color: black;
}
.bg-premios-user img {
  max-width: 150px;
}
.bg-premios-user a {
  color: black;
}




/* Chamadas Desafios página usuario*/
.bg-desafios-banner {
  background-color: #735CC6;
  border-radius: 22px;
}
.pure-menu {
  display: none;
}



/* Página Minha Conta*/
.minha-conta h1 {
  font-size: 26px;
}
.minha-conta h3 {
  font-size: 20px;
  font-weight: 500;
}
.bg-titulo-quadro {
  background-color: #465EFF;
  color: white;
  border-radius: 15px 15px 0 0;
  min-width: 356px;

}
.corpo-quadro {
  background-color: #fff;
  border-radius: 0 0 15px 15px;
  min-height: 164px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  max-width: 100%

}
.corpo-quadro li {
  list-style: none;
  margin-bottom: 3px;
}
.meta-positiva {
  color: #009E8C;
  font-weight: 600;
}
.meta-negativa {
  color: #EB4900;
  font-weight: 600;
}
.meta-desafio {
  font-size: 14px;
  color: #333;
}
.pontos-desafio {
  color: #465EFF;
  text-align: end;
  font-size: 14px;
}

.corpo-quadro-estrelas {
  background-color: #FCFC30;
  min-height: 164px;
  border-radius: 0 0 15px 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  min-width: 356px;
}
.quadro-conta h1 {
  font-size: 40px;
  color: #465EFF;
  font-weight: 600;
}
.form-control:disabled {
background-color: #eaeaea; 
border: none; 
}
.logout a{
  font-size: 24px;
  color: #333;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.col-form-label {
  font-weight: 600;
}



/*Páginas Desafio Estrela Cadente*/
.bg-quadrado-desafio {
  min-width: 376px;
  max-width: 410px;
  background-color: #FCFC30;
  border-radius: 21px;
  
}
.titulo-desafio {
  position: relative;
  top: -10vh;
  max-height: 350px;
}
.bg-quadrado-desafio img {
  min-width: 500px;
}
.bg-gray {
  background-color: #d9d9d9;
}
.btn-blue {
  background-color: #465EFF;
  color: #FCFC30;
  padding: 20px 30px;
  border: none;
  border-radius: 59px;
}


/*Páginas Desafio Conexão das Galáxias */
.table-bordered {
  border-color: #333;
}


/*Cor do submenu mobile*/
.pure-menu-link {
  color: #eaeaea !important;
}

/*Telas Notebooks*/
@media screen and (max-width: 1400px) {
  .login-btn {
    left: 24rem;
  }
  .mx-5 {
    margin-left: 2rem !important;
    margin-right: 2rem !important;
  }
  .bg-space-gift {
    min-height: 75vh;
  }
}

@media screen and (max-width: 1300px) {
  aside .btn {
    font-size: 14px;
  }
  aside a {
    font-size: 14px;
  }
  .fs-3 {
    font-size: 1.25rem !important;
  }
  .bg-space-gift {
    min-height: 50vh;
  }
  .desafios-user {
    padding: 0 20vh;
  }
}



/*Telas Mobile*/
@media screen and (max-width: 700px) {
  .eclipse-bg {
    min-width: 100px;
    min-height: 100px;
  }
  .login-btn {
    left: 0;
  }
  .p-bs {
    padding: 0;
  }
  .bg-pf {
    padding: 0;
  }
  header img {
    max-width: 220px;
  }
  .desafios-user {
    padding: 0 5vh;
  }
  #estrelas-user {
    padding: 0 5vh;
  }
  .pure-menu {
    display: flex;
  }
  .bg-space-gift {
    min-height: 40vh;
  }
  .bg-premios-user img {
    max-width: 60px;
  }
  .margin-user {
    padding: 0 1vh;
  }
  .carousel-caption {
    bottom: 0;
  }
  .titulo-banner-usuario h1 {
    font-size: 22px;

  }
  .titulo-banner-usuario {
  margin-bottom: 2%;
  }
  .eclipse-bg img {
    max-width: 365px;
  }
  .bg-quadrado-desafio img {
    width: 330px;
    min-width: 0;
  }
  .titulo-desafio {
    top: 0;
    max-height: 500px;
  }
  .bg-quadrado-desafio {
    width: 300px;
    min-width: 0;
  }
  .titulo-desafio h2 {
    text-align: center;
  }
}
